@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();
}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;
<div id="@articleRowData.RowKey" class="w3-padding">


    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/company") != "")
    {
        <div class="w3-xlarge">@info.GetXmlProperty("genxml/lang/genxml/textbox/company")</div>

        <br />
        if (info.GetXmlProperty("genxml/textbox/adress") != "")
        {
            <label>Adress</label>
            <span>@info.GetXmlProperty("genxml/textbox/adress")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/tel1") != "")
        {
            <label>Tel. 1</label>
            <span>@info.GetXmlProperty("genxml/textbox/tel1")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/tel2") != "")
        {
            <label>Tel. 2</label>
            <span>  @info.GetXmlProperty("genxml/textbox/tel2")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/fax") != "")
        {
            <label>Fax</label>
            <span> @info.GetXmlProperty("genxml/textbox/fax")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/email") != "")
        {
            <label>Email</label>
            <span>   @info.GetXmlProperty("genxml/textbox/email")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/contact1") != "")
        {
            <label>Contact 1</label>
            <span>   @info.GetXmlProperty("genxml/textbox/contact1")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/contactname1") != "")
        {
            <label>Contact name 1</label>
            <span>  @info.GetXmlProperty("genxml/textbox/contactname1")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/mobile1") != "")
        {
            <label>Mobile 1</label>
            <span>  @info.GetXmlProperty("genxml/textbox/mobile1")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/email1") != "")
        {
            <label>Email 1</label>
            <span>  @info.GetXmlProperty("genxml/textbox/email1")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/contact2") != "")
        {
            <label>Contact 2</label>
            <span>   @info.GetXmlProperty("genxml/textbox/contact2")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/contactname2") != "")
        {
            <label>Contact name 2</label>
            <span>    @info.GetXmlProperty("genxml/textbox/contactname2")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/mobile2") != "")
        {
            <label>Mobile 2</label>
            <span>  @info.GetXmlProperty("genxml/textbox/mobile2")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/textbox/email2") != "")
        {
            <label>Email 2</label>
            <span> @info.GetXmlProperty("genxml/textbox/email2")</span>
        }
        <br />
        if (info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo") != "")
        {
            <label>Extra info</label>
            <span> @info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo")</span>
        }
    }
</div>
}


