@inherits RocketContentAPI.Components.RocketContentAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI;
@using Simplisity;
@using RocketContentAPI.Components;
@using DNNrocketAPI.Components;
@using RocketPortal.Components;


@{
    var articleData = (ArticleLimpet)Model.GetDataObject("articledata");
    var appThemeView = (AppThemeLimpet)Model.GetDataObject("appthemeview");
    var appThemeAdmin = (AppThemeLimpet)Model.GetDataObject("appthemeadmin");
    var moduleData = (ModuleContentLimpet)Model.GetDataObject("modulesettings");
    var portalData = (PortalLimpet)Model.GetDataObject("portaldata");
    var globalSettings = new SystemGlobalData();
}

@foreach (var articleRowData in articleData.GetRows())
{
    var info = articleRowData.Info;
<div id="@articleRowData.RowKey" class="w3-padding">


    @if (info.GetXmlProperty("genxml/lang/genxml/textbox/company") != "")
    {
        <div class="w3-xlarge">@info.GetXmlProperty("genxml/lang/genxml/textbox/company")</div>

   
        if (info.GetXmlProperty("genxml/textbox/adress") != "")
        {
<div>
    <label>Adress</label>
    @info.GetXmlProperty("genxml/textbox/adress")
</div>
        }
    
        if (info.GetXmlProperty("genxml/textbox/tel1") != "")
        {<div>
    <label>Tel. 1</label>
    @info.GetXmlProperty("genxml/textbox/tel1")
</div>
    }
 
    if (info.GetXmlProperty("genxml/textbox/tel2") != "")
    {<div>
    <label>Tel. 2</label>
    @info.GetXmlProperty("genxml/textbox/tel2")
</div>
    }
 
    if (info.GetXmlProperty("genxml/textbox/fax") != "")
    {<div>
    <label>Fax</label>
    @info.GetXmlProperty("genxml/textbox/fax")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/email") != "")
    {<div>
    <label>Email</label>
    @info.GetXmlProperty("genxml/textbox/email")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/contact1") != "")
    {<div>
    <label>Contact 1</label>
    @info.GetXmlProperty("genxml/textbox/contact1")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/contactname1") != "")
    {<div>
    <label>Contact name 1</label>
    @info.GetXmlProperty("genxml/textbox/contactname1")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/mobile1") != "")
    {<div>
    <label>Mobile 1</label>
    @info.GetXmlProperty("genxml/textbox/mobile1")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/email1") != "")
    {<div>
    <label>Email 1</label>
    @info.GetXmlProperty("genxml/textbox/email1")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/contact2") != "")
    {<div>
    <label>Contact 2</label>
    @info.GetXmlProperty("genxml/textbox/contact2")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/contactname2") != "")
    {<div>
    <label>Contact name 2</label>
    @info.GetXmlProperty("genxml/textbox/contactname2")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/mobile2") != "")
    {<div>
    <label>Mobile 2</label>
    @info.GetXmlProperty("genxml/textbox/mobile2")
</div>
    }

    if (info.GetXmlProperty("genxml/textbox/email2") != "")
    {<div>
    <label>Email 2</label>
    @info.GetXmlProperty("genxml/textbox/email2")
</div>
    }

    if (info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo") != "")
    {<div>
    <label>Extra info</label>
    @info.GetXmlProperty("genxml/lang/genxml/textbox/extrainfo")
</div>
    }
    }
</div>
}


